* {
  box-sizing: border-box;
}

.container{
  min-width: 90%;
  margin: auto; 
  background-color: rgb(226, 222, 231);
  padding: 30px;
  border-radius: 15px;
  margin-top: 40px;
}

header {
  text-align: center;
  margin-bottom: 40px;

}